.container{
display:flex;
justify-content:space-around;
flex-direction: row; 
}

.header{
display:flex;
flex-direction: row;
justify-content: space-between;
font-size: x-large;
}

/* #age {
    display: flex;
    background-image: url(./images/agescript.jpg);
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 50px;
    width: 100px;
} */


/* #count{
    display: flex;
    background-image: url(./images/countscript.jpg);
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 50px;
    width: 100px;
} */

/* .wrapper {
    display: flex;
    padding: 20px;
} */

.btncontainer {
    display:flex;
    justify-content: space-around;

}
.countercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#hungerbtn{
    display: flex;
    background-image: url(./images/feedmeresize.jpg);
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 200px;
    width: 200px;
}
#sleepbtn{
    display: flex;
    background-image: url(./images/sleepyresize.jpg);
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 200px;
    width: 200px;
}
#playbtn{
    display: flex;
    background-image: url(./images/playmeresize.jpg);
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 200px;
    width: 200px;
}
#startbtn{
    display: flex;
    background-image: url(./images/start.jpg);
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 93px;
    width: 152px;
} 



.feedimage{
    display: flex;
    background-image: url(.//images/feedmeresize.jpg);
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 50px;
    width: 150px;  
}

.sleepimage{
    display: flex;
    background-image: url(.//images/sleepyresize.jpg);
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 50px;
    width: 150px;  
}

.boredimage{
    display: flex;
    background-image: url(.//images/playmeresize.jpg);
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 50px;
    width: 150px;  
}

#hunger {
    display: flex;
    display: flex;
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 50px
    width 100px;
}

/* display: flex;
background-image: url(/images/feedtext.svg);
border: none;
background-color: transparent;
background-size: contain;
height: 249px;
width: 186px;
background-repeat: no-repeat; */

.mainimg {
    height: 50vh;
    padding-left: 30px;
    /* width: 30vw; */
}

.mainimage{
    display: flex;
    justify-content: center;
}

/* .title {
    display: flex;
    justify-content: center;
} */

.counters {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topheader {
display: flex;
flex-direction: row;
justify-content: space-around;
}

#restartbtn {
    display: flex;
    background-image: url(./images/cleargame.jpg);
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 98px;
    width: 185px;
}