.container{
display:flex;
justify-content:space-around;
flex-direction: row; 
}

.header{
display:flex;
flex-direction: row;

}

#age {
margin-left: 900px;  
text-align: right;
}

.btncontainer {
    display:flex;
    justify-content: space-around;

}

#hungerbtn{
    display: flex;
    background-image: url(./images/babyfoodresize.jpg);
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 200px;
    width: 200px;
}
#sleepbtn{
    display: flex;
    background-image: url(./images/babyfoodresize.jpg);
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 200px;
    width: 200px;
}
#playbtn{
    display: flex;
    background-image: url(./images/babyfoodresize.jpg);
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 200px;
    width: 200px;
}
#startbtn{
    display: flex;
    background-image: url(./images/babyfoodresize.jpg);
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 200px;
    width: 200px;
}



.feedimage{
    display: flex;
    background-image: url(./images/feedtextresize.jpg);
    border: none;
    background-color: transparent;
    background-size: cover;
    height: 50px;
    width: 150px;  
}

.sleepimage{

}

.boredimage{

}